body {
    background-color: pink;
    margin: 0;
    padding: 0;
    z-overflow: scroll;
}

header {
    display: flex;
    justify-content: space-around;
}

nav {
    width: 100vw;
    width: 100%;
    display: flex;

    align-items: center;
}

.menu-items {
    text-decoration: none;
    font-size: larger;
    color: black;
    height: min-content;

    font-size: 1.5em;
    transition: opacity 400ms ease;
    transition: font-size 400ms ease;
}

#menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu:hover > .menu-items {
    opacity: 0.4;
}

#menu:hover {
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(12, 12, 12, 0.05) inset, 0px 0px 19px rgba(122, 11, 196, 0.6);
}

#menu:hover > .menu-items:hover {
    opacity: 1;
    font-size: 2em;
}

footer {
    position: fixed;
    height: 7%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background-color: purple;


    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.footer-items {
    color: black;
    text-decoration: none;
    font-size: 1.2em;

    transition: color 1s ease;
}

.footer-items:hover {
    color: rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    text-align: center;
}

#image {
    max-width: 80vw;
}

#buttons {
    display: flex;
}