@keyframes pan {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

#repeatingImg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Starr.png");
    background-repeat: repeat;
    background-size: 100px 100px;
    animation: pan 180s linear infinite;
}

#gradientSide{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(0, 0, 0, 0), black); 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    
    background-color: rgb(18, 18, 18);
}

#seal {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s ease-in-out;
    z-index: 1;
}

#seal:hover {
    transform: rotate(360deg);
    
}

#burgerMenu{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    z-index: 4;
    position: fixed;
    top: 20px;
    right: 20px;
}

#burgerMenu:hover{
    background-color: aliceblue;
}

#stripe1{
    display: flex;
    position: fixed;
    top: 20px;
    width: 50px;
    height: 10px;

    border-radius: 10px;
    background-color: rgb(44, 44, 44);
}

#stripe2{
    display: flex;
    position: fixed;
    top: 35px;
    width: 50px;
    height: 10px;

    background-color: rgb(44, 44, 44);
    border-radius: 10px;
}

#stripe3{
    display: flex;
    position: fixed;
    top: 50px;
    width: 50px;
    height: 10px;

    background-color: rgb(44, 44, 44);
    border-radius: 10px;
}