@keyframes pan {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

@keyframes fall {
    0% {
        transform: translate(0px, 0px) rotateZ(45deg) scale(1.5);
        
        opacity: 1;
    }
    100% {
        transform: translate(0px, 200px) rotateZ(-45deg) scale(0.25);
        opacity: 0;
    }
}


#repeatingImg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Starr.png");
    background-repeat: repeat;
    background-size: 100px 100px;
    animation: pan 180s linear infinite;
}

#gradientSide{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(0, 0, 0, 0), black); 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    font-family: "Yu Gothic Light";
    
    background-color: rgb(18, 18, 18);
}

#seal {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200s ease;
    z-index: 1;
}

#seal:hover {
    transform: rotate(36000deg);
    
}

#burgerMenu{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    z-index: 4;
    position: fixed;
    top: 20px;
    right: 20px;
}

#burgerMenu:hover{
    #stripe1{
        background-color: rgb(255, 255, 255);
        transform: rotate(45deg);
        margin-top: 15px;
    }

    #stripe2{
        background-color: rgba(0, 0, 0, 0);
    }

    #stripe3{
        background-color: rgb(255, 255, 255);
        transform: rotate(-45deg);
        margin-top: -15px;
    }
    #burgerItem1, #burgerItem2, #burgerItem3 {
        background-color: rgb(44, 44, 44);
        opacity: 100;
    }
}

#stripe1, #stripe2, #stripe3 {
    display: flex;
    width: 50px;
    height: 10px;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    position: fixed;
    transition: transform 0.5s ease-in-out, margin-top 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#stripe1 {
    top: 20px;
}

#stripe2 {
    top: 35px;
}

#stripe3 {
    top: 50px;
}

#burgerItem1, #burgerItem2, #burgerItem3 {
    width: 50px;
    height: 25px;
    position: fixed;
    margin-left: -10px;
    opacity: 0;
}

#burgerItem1{
    top: 70px;
}

#burgerItem2{
    top: 90px;
}

#burgerItem3{
    top: 110px;
}

.star {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('/images/star.svg');
    background-size: cover;
    pointer-events: none;

    animation: fall 1.2s infinite ease-in-out;
}